@model dtu.blognet.Application.Web.Models.BlogViewModels.BlogViewModel

@{
    ViewBag.Title = $"Blog - {Model.Title}";
}

<h2>@Model.Title</h2>
@if (Model.IsOwner)
{
    <br/>
    <a asp-controller="Post" asp-action="Create" asp-route-blogId="@Model.Id" class="btn btn-primary">Add a post</a>
}
<br/>
<div id="md-description"></div>
<br/>
@foreach (var post in Model.Posts)
{
    <p><a asp-controller="Post" asp-action="View" asp-route-id="@post.Id">@post.Title</a></p>
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js" integrity="sha256-mJAzKDq6kSoKqZKnA6UNLtPaIj8zT2mFnWu/GSouhgQ=" crossorigin="anonymous"></script>
    <script>
        document.getElementById('md-description').innerHTML =
            marked('@Model.Description');
    </script>
}